* {
  max-width: 960px;
  background-color: lightblue;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

h1 {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 600%;
  text-align: center;
  color: rgb(235, 166, 178);
  margin: 0px;
}

h2 {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 200%;
  line-height: 50px;
  margin: 8px 8px;
  /* color: rgb(55, 74, 110); */
}

li {
  font-family: sans-serif;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1+p {
  text-align: center;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-size: 175%;
  margin: 0px 8px;
}

.storeSales {
  width: 19%;
  float: left;
  border-right: 1px solid black;
}

.salesTotal {
  text-align: center;
  font-size: 175%;
  clear: both;
}

table {
  border: 2px solid blue;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

th {
  background-color: beige;
  font-family: sans-serif;
}

td {
  background-color: rgb(235, 166, 178);
  text-align: center;
  font-family: sans-serif;
}